<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
        xmlns:content="http://purl.org/rss/1.0/modules/content/"
        xmlns:wfw="http://wellformedweb.org/CommentAPI/"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:atom="http://www.w3.org/2005/Atom"
        xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
        xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
        xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
xmlns:rawvoice="http://www.rawvoice.com/rawvoiceRssModule/"
>

<channel>
        <title>Escriba Cafe</title>
        <atom:link href="http://www.escribacafe.com/feed/podcast/" rel="self" type="application/rss+xml" />
        <link>http://www.escribacafe.com</link>
        <description>Podcast e artigos sobre a história do mundo e seus mistérios. Conheça sua história de uma forma emocionante e empolgante.</description>
        <lastBuildDate>Thu, 07 May 2015 19:41:32 +0000</lastBuildDate>
        <language>pt-BR</language>
        <sy:updatePeriod>hourly</sy:updatePeriod>
        <sy:updateFrequency>1</sy:updateFrequency>
        <generator>http://wordpress.org/?v=4.2.2</generator>
        <itunes:new-feed-url>http://www.escribacafe.com/feed/podcast</itunes:new-feed-url>
        <itunes:summary>Podcast sobre a história do mundo e seus mistérios. Conheça sua história de uma forma emocionante e empolgante.</itunes:summary>
        <itunes:author>Christian Gurtner</itunes:author>
        <itunes:explicit>no</itunes:explicit>
        <itunes:image href="http://www.escribacafe.com/wp-content/uploads/capaescribacafe2048.jpg" />
        <itunes:owner>
                <itunes:name>Christian Gurtner</itunes:name>
                <itunes:email>condado@lowenttur.com</itunes:email>
        </itunes:owner>
        <managingEditor>condado@lowenttur.com (Christian Gurtner)</managingEditor>
        <copyright>2005-2014</copyright>
        <itunes:subtitle>História do mundo e seus mistérios</itunes:subtitle>
        <image>
                <title>Escriba Cafe</title>
                <url>http://www.escribacafe.com/wp-content/uploads/capaescribacafe2048.jpg</url>
                <link>http://www.escribacafe.com</link>
        </image>
        <itunes:category text="Society &amp; Culture">
                <itunes:category text="History" />
        </itunes:category>

        <% feed.items.each do |item| %>
          <%= erb :feed_item, locals: {item: item, playlist_id: feed.playlist_id} %>
        <% end %>
</channel>
</rss>
